sl-icon {
  position: relative;
  width: 1.9rem;
  height: 1.9rem;
  padding: .4rem .7rem;
  margin: -.4rem -.7rem;
  vertical-align: middle;
}


/* Hoverable */
sl-icon[type="button"] {
  cursor: pointer;
  transition: color .3s;
}
sl-icon[type="button"][disabled] {
  opacity: .2;
  pointer-events: none;
}
sl-icon[type="button"]:hover {
  color: var(--sl-color-primary-50);
}
sl-icon[type="button"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background-color: var(--sl-color-primary-500);
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  opacity: 0;
  transition:
    opacity var(--sl-transition-medium),
    width var(--sl-transition-medium),
    height var(--sl-transition-medium),
    left var(--sl-transition-medium),
    top var(--sl-transition-medium);
}
sl-icon[type="button"]:hover::before {
  top: -8%;
  left: 0%;
  width: 3.2rem;
  height: 3.2rem;
  opacity: 1;
}
sl-icon[type="button"]::part(svg) {
  position: relative;
  z-index: 1;
}