html {
  font-size: 62.5%;
}
body {
  font-size: var(--sl-font-size-small);
  font-family: var(--sl-font-sans);
  line-height: var(--sl-line-height-normal);
  margin: 0;
  background-color: var(--sl-color-primary-200);
  color: var(--sl-color-neutral-700);
}
main {
  max-width: 100rem;
  margin: auto;
  padding: var(--sl-spacing-large);
}
img {
  max-width: 100%;
  display: block;
}