:root,
:host,
.sl-theme-custom {

  /* Colors */
  --sl-color-primary-50: #e6ebe6;
  --sl-color-primary-100: #e6ebe6;
  --sl-color-primary-200: #e6ebe6;

  --sl-color-primary-300: #76b576;
  --sl-color-primary-400: #76b576;
  --sl-color-primary-500: #76b576;
  
  --sl-color-primary-700: #5c975c;
  --sl-color-primary-800: #5c975c;

  /* Borders */
  --sl-border-radius-medium: 1.4rem;
}